.body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header__nav {
    padding-top: 30px;
    display: block;
    text-align: center;
}

.header__logo {
    width: 100px;
    border-radius: 50%;
}

.header__nav--list {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.header__nav--item {
    list-style: none;
    text-align: center;
}

.header__nav--link {
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 254, 254);
    transition: all 0.25s;
}

.header__nav--link:hover {
    color: #F8414D;
    border-bottom: 0.10rem solid rgb(255, 255, 255);
}

.main {
    background-attachment: fixed;
    background-image: linear-gradient(30deg, #2D4D5F, rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0.705) 100%), url(fondo1.jpg);
    background-size: cover;
    padding-bottom: 80px;
    background-blend-mode: multiply, multiply;
}

.home {
    padding-top: 30px;
    text-align: center;
    line-height: 50px;
    color: rgb(255, 254, 254);
}

.homeTexto {
    text-transform: uppercase;
}

.home__titulo {
    color: #F8414D;
    text-shadow: -4px 3px 0 #e0eff2, -14px 7px 0 #00000065;
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 00.25rem;
    margin-bottom: 0px;
}

.home__subtitulo {
    color: #e0eff2;
    text-shadow: 0 0 3px #e0eff2, 0 0 5px #000000;
}

.home__button {
    background-color: #F8414D;
    color: rgb(255, 254, 254);
    border: 2px solid #F8414D;
    border-radius: 5px;
    font-size: 18px;
    padding: 12px 24px;
    margin-top: 50px;
}

.home__button:hover {
    background-color: #fff;
    color: #F8414D;
    animation: swing;
    animation-duration: 2s;
}

/*---------about----------*/
.about {
    margin-top: 40px;
}

.about__item1 {
    grid-area: top;

    text-align: center;
    color: #2D4D5F;
    font: 700;
    font-size: 38px;
}

.about__item2 {
    grid-area: left;
    padding-top: 40px;
}

.about__item3 {
    grid-area: right;
}

.about__item4 {
    grid-area: skills;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'top'
        'left'
        'right'
        'skills';
    gap: 1px;
    padding: 0px 35px;
}

.about__figure {
    margin: 0 auto;
    padding: 0px;
    max-width: 250px;
    box-shadow: -18px -18px 0px #F8414D;
}

.about__foto {
    width: 100%;
    height: auto;
}

.about__subtitulo {
    text-align: center;
    font: 700;
}

.h-3 {
    font-size: 24px;
    margin-bottom: 0px;
}

.p-3 {
    font-size: 14px;
    color: #777777;
}

.about__item {
    list-style: none;
}

.about__link {
    text-decoration: none;
    font-size: 13px;
    color: #777777;
    margin: 0px 0px 0px 0px;
}

.about__icono {
    width: 16px;
    margin: 0px 3px 0px 0px;
}

.about__contenedor--descripcion {
    color: #777777;
    font-size: 14px;
    text-align: justify;
}

.about__contenedor--subtitulo {
    font-size: 18px;
    font: 700;
    margin-bottom: 3px 0px;
}

.skills__items {
    margin-bottom: 30px;
}

.skilss__item--item {
    font-size: 14px;
    font: 400;
    color: #777777;
    text-align: right;
    margin-bottom: 2px;
}

.barra {
    background-color: #A1A5A4;
    border-radius: 50px;
}

.barra__relleno {
    background-color: #F8414D;
    border-radius: 50px;
    padding: 5px;
    margin-right: 75px;
}

/*-------------project--------------*/
.project {}

.project__title {
    text-align: center;
    color: #2D4D5F;
    font: 700;
    font-size: 38px;
}

.project__subtitle {
    text-align: center;
    color: #2D4D5F;
    font-size: 16px;
    font: 400;
    color: #777777;
}

.project__grid--item1 {
    grid-area: item1;
}

.project__grid--item2 {
    grid-area: item2;
}

.project__grid--item3 {
    grid-area: item3;
}

.project__grid--item4 {
    grid-area: item4;
}

.project__grid--item5 {
    grid-area: item5;
}

.project__grid {
    display: grid;
    grid-template-areas:
        'item1'
        'item2'
        'item3'
        'item4'
        'item5';
    gap: 1px;
    padding: 0px 35px 80px;
}

.project__img {
    width: 100%;
    border-radius: 11px 11px 0px 0px;
}

.card {
    box-shadow: rgb(149 165 166 / 59%) 0px 4px 8px -2px, rgb(149 165 166 / 33%) 0px 0px 0px 1px;
    border-radius: 11px;
    text-align: center;
    margin: 0.75rem;
    min-height: 20rem;
}

.card:hover {
    animation: pulse;
}

/*footer*/

.footer {
    background-color: #2D4D5F;
    text-align: center;
    padding: 30px;
}

.footer__list {
    display: flex;
    justify-content: center;
    padding: 15px 0px 10px 0px;
}

.footer__item {
    list-style: none;
    padding: 0px 4px;

}

.footer__link {
    text-decoration: none;
    color: #fff;

}

.footer__img {
    width: 50px;
    background-color: #fff;
    border: 1px solid #2D4D5F;
    border-radius: 5px;
}

.footer__img:hover {
    background-color: #F8414D;
    border: 1px solid #F8414D;
}

.footer__parrafo {
    margin-bottom: 0px;
    color: #fff;
    font-size: 14px;
    font: 400;
}

@media (min-width: 680px) and (max-width: 940px) {

    /*about*/
    .grid-container {
        display: grid;
        grid-template-areas:
            'top top'
            'left left'
            'right right'
            'skills skills';
        gap: 1px;
        background-color: rgb(255, 255, 255);
        padding: 0px 85px;
    }

    /*.about__figure {
        max-width: 200px;
        box-shadow: -25px -25px 0px #F8414D;
    }*/

    .about__item2 {
        display: flex;
        justify-content: center;
        padding-left: 50px;
        padding-top: 30px;
    }

    .about__item3 {
        padding-top: 20px;
    }

    .about__list {
        padding-left: 30px;
    }

    .h-3 {
        text-align: left;
        padding-left: 30px;
    }

    .p-3 {
        text-align: left;
        padding-left: 30px;
    }

    .project__grid {
        display: grid;
        grid-template-areas:
            'item2 item2 item2 item2'
            'item3 item3 item1 item1'
            'item4 item4 item5 item5';
        gap: 1px;
        padding: 0px 85px 100px;
    }

}

@media (min-width: 940px) {

    .header__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1024px;
        padding: 0.25rem 9rem;
        margin: auto;
    }

    .header__logo--container {
        max-width: 4rem;
    }

    .header__logo {
        width: 100%;
        border-radius: 50%;
    }

    .header__nav--list {
        gap: 0.75rem;
    }

    .main {
        background-position: center center;
        background-repeat: no-repeat;
    }

    .home {
        padding: 110px 0px 0px 0px;
    }

    .home__button {
        margin-top: 10px;
    }

    /*about*/
    .grid-container {
        display: grid;
        grid-template-areas:
            'top top'
            'left right'
            'left skills';
        gap: 1px;
        background-color: rgb(255, 255, 255);
        padding: 10px 150px;
    }

    .about__contenedor--descripcion {
        padding: 0px;
        margin: 0px;
    }

    .about__item2 {
        margin-right: 10px;
        padding: 40px 10px 0px 0px;
        margin-bottom: 0px;
    }

    .about__item3 {
        padding-top: 30px;
        padding-left: 10px;
    }

    .about__item4 {
        text-align: left;
        padding-top: 10px;
        padding-left: 10px;
    }

    .about__list {
        padding-left: 0px;
    }

    .about__contenedor--subTitle {
        text-align: left;
    }

    /*project*/
    .project__grid {
        display: grid;
        grid-template-areas:
            'item3 item3 item2'
            'item4 item5 item1';
        gap: 1px;
        padding: 0px 150px 100px;
    }
}